<div class="center jumbotron">
<div style="text-align:center">
<h1>Clock+</h1>built by Ruchelle Balasuriya- s3781183@student.rmit.edu.au- Pass Level - Monday 4.30pm Group

<h5>Melbourne</h5>

  <%= Time.current %>
<h5>Sri Jayawardenepura</h5>
    <%= @Sri_Time%>

  <h5>Hong Kong</h5>
    <%= @Hong_Time%>
</div>
  


